/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
.nrepl-port
.hgignore
.hg/
\#*
\#*\#
.\#*
debug-log
dev/scratch.clj
notes
*.bak.clj

repl-balance-debug-log
.rebel_readline_history


*.log
.idea
*.iml
.cpcache

my_*
