{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.11.3"}
        org.jline/jline {:mvn/version "3.26.3"}  ;; slower than individual imports?
        ;org.jline/jline-reader {:mvn/version "3.26.2"}
        ;org.jline/jline-terminal {:mvn/version "3.26.2"}
        ;org.jline/jline-terminal-jansi {:mvn/version "3.26.2"}
        cljfmt/cljfmt {:mvn/version "0.9.2"}
        rewrite-clj/rewrite-clj {:mvn/version "1.1.48"}
        compliment/compliment {:mvn/version "0.6.0"}}
 :aliases {:repl/balance {:extra-paths ["repl"]
                          :extra-deps  {nrepl/nrepl               {:mvn/version "1.1.1"}
                                        cider/cider-nrepl         {:mvn/version "0.50.2"}
                                        clj-commons/pomegranate   {:mvn/version "1.2.24"}
                                        org.clojure/tools.deps.alpha ; add-lib3 branch
                                        {:git/url "https://github.com/clojure/tools.deps.alpha"
                                         :sha     "e4fb92eef724fa39e29b39cc2b1a850567d490dd"}}
                          :main-opts   ["-m" "nrepl.cmdline"
                                        "--middleware" "[cider.nrepl/cider-middleware]"
                                        "-i"
                                        "-f" "repl-balance.main/-main"]}
           :repl         {:extra-paths ["repl"]}
           :test         {:extra-paths ["test"]
                          :extra-deps  {lambdaisland/kaocha {:mvn/version "1.91.1392"}
                                        ring/ring-spec      {:mvn/version "0.0.4"}
                                        ; silence slf4j log warnings during testing
                                        org.slf4j/slf4j-nop {:mvn/version "1.7.36"}}
                          :main-opts   ["-m" "kaocha.runner"]}
           ;; tools.build `build.clj` built script
           :build
           {:replace-paths ["."]
            :extra-deps {io.github.clojure/tools.build
                   {:mvn/version "0.10.5"}
                   slipset/deps-deploy {:mvn/version "0.2.2"}}
            :ns-default build}}}
