{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.11.3"}
        org.jline/jline {:mvn/version "3.26.2"}  ;; slower than individual imports?
        ;org.jline/jline-reader {:mvn/version "3.26.2"}
        ;org.jline/jline-terminal {:mvn/version "3.26.2"}
        ;org.jline/jline-terminal-jansi {:mvn/version "3.26.2"}
        cljfmt/cljfmt {:mvn/version "0.9.2"}
        compliment/compliment {:mvn/version "0.5.5"}}}
